/* effects cards */

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: #f0f8ff; /* Alice Blue */
}

.swiper-slide:nth-child(2n) {
    background-color: #e6e6fa; /* Lavender */
}

.swiper-slide:nth-child(3n) {
    background-color: #f5f5dc; /* Beige */
}

.swiper-slide:nth-child(4n) {
    background-color: #fafad2; /* Light Goldenrod Yellow */
}

.swiper-slide:nth-child(5n) {
    background-color: #ffe4e1; /* Misty Rose */
}

.swiper-slide:nth-child(6n) {
    background-color: #f0fff0; /* Honeydew */
}

.swiper-slide:nth-child(7n) {
    background-color: #f5fffa; /* Mint Cream */
}

.swiper-slide:nth-child(8n) {
    background-color: #f0ffff; /* Azure */
}

.swiper-slide:nth-child(9n) {
    background-color: #fff5ee; /* Seashell */
}

.swiper-slide:nth-child(10n) {
    background-color: #f8f8ff; /* Ghost White */
}
