.random-facts {
  width: 240px;
  height: 320px;
}
.random-facts .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.random-facts .swiper-slide:nth-child(1n) {
  background-color: #3333CC; /* 80% Blue, 20% Green */
}

.random-facts .swiper-slide:nth-child(2n) {
  background-color: #4D4DB3; /* 70% Blue, 30% Green */
}

.random-facts .swiper-slide:nth-child(3n) {
  background-color: #669999; /* 60% Blue, 40% Green */
}

.random-facts .swiper-slide:nth-child(4n) {
  background-color: #7FBF80; /* 50% Blue, 50% Green */
}

.random-facts .swiper-slide:nth-child(5n) {
  background-color: #C6D6B3; /* 20% Green, 80% Gray */
}

.random-facts .swiper-slide:nth-child(6n) {
  background-color: #BFBFBF; /* Lighter Gray */
}

.random-facts .swiper-slide:nth-child(7n) {
  background-color: #808080; /* Pure Gray */
}
