.swiper-slide-card {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.swiper-slide-card .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 480px;
    height: 360px;
    overflow: hidden;
}

.swiper-slide-card .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .swiper-slide-card .swiper-slide {
        width: 400px;
        height: auto; /* Adjust height automatically to maintain aspect ratio */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .swiper-slide-card .swiper-slide {
        width: 490px;
        height: auto; /* Adjust height automatically to maintain aspect ratio */
    }
}

@media (min-width: 1025px) {
    .swiper-slide-card .swiper-slide {
        width: 470px;
        height: auto;
    }
}
