/* .swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.swiper {
    width: 20%;
}

.swiper-slide-card {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 480px;
    height: 360px;
    overflow: hidden;
}


@media (max-width: 768px) {
    .swiper-slide {
        width: 400px;
        height: auto; /* Adjust height automatically to maintain aspect ratio */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .swiper-slide {
        width: 490px;
        height: auto; /* Adjust height automatically to maintain aspect ratio */
    }
}

@media (min-width: 1025px) {
    .swiper-slide {
        width: 470px;
        height: auto;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
