.container-setup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.service-list-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    Flex-wrap: wrap;
    margin: 10px;
    padding: 10px 0;
}

.service-list-container .card {
    position: relative;
    width: 45%;
    height: 90%;
    background: #ffffff49;
    display: flex;
    margin: 10px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.service-list-container .card .imgBox {
    position: absolute;
    top: 5%;
    Left: 5%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: 90%;
    width: 90%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgb(155 155 155 / 20%);
    box-shadow: 5px 5px 3epx rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
}

.service-list-container .card .imgBox img {
    height: 60%;
    width: 60%;
    transition: 1s;
}

.service-list-container .card:hover .imgBox {
    height: 50%;
    width: 20%;
    left: -10%;
    top: 25%;
}

.service-list-container .card:hover .imgBox img {
    filter: hue-rotate(150deg);
}

.service-list-container .card .content {
    padding: 6%;
    padding-left: 10%;
    width: 80%;
    right: 0;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.service-list-container .card .content h3 {
    color: #ff0057;
    margin-bottom: 5%;
}

.service-list-container .card .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    background: #0095ff;
    text-decoration: none;
    color: #fff;
    font-weight: 500;

}

@media (max-width: 992px) {
    .service-list-container {
        flex-direction: column;
        align-items: center;
    }

    .service-list-container .card {
        width: 300px;
        height: auto;
        flex-direction: column;
        background: transparent;
        /* margin: -20px 0; */
        box-shadow: none;
        align-items: center;
        justify-content: center;
    }

    .service-list-container .card .imgBox {
        position: relative;
        box-shadow: 2px 2px 2px rgb(155, 155, 155);
    }

    .service-list-container .card .imgBox,
    .service-list-container .card:hover .imgBox {
        width: 50%;
        height: 100px;
        left: 0;
        top: 50px;
    }

    .service-list-container .card .imgBox img,
    .service-list-container .card:hover .imgBox img {
        padding: 5%;
        width: 80%;
        height: 100px;
        top: 100px;
        left: -10%;
    }

    .service-list-container .card .content {
        position: relative;
        width: 100%;
        background-color: #ffffff49;
        box-shadow: none;
        border-radius: 20px;
        border-top: 50px solid #dbdbdb49;
        /* padding: 20px 40px; */
    }
}